body {
  padding: 0px;
  margin: 0px;
  background-color: #212121;
  color: rgb(180, 180, 180);
  font-family: cursive;
}
nav {
  text-align: center;
  background-color: #4fa5b6;
  margin-top: 30px;
  padding: 10px;
}
header {
  text-align: center;
  padding-top: 10%;
}
.banner {
  background-image: url("banner.jpg");
  height: 1000px;
  background-repeat: no-repeat;
  width: 100%;
}

a {
  color: white;
  padding: 20px;
  text-decoration: none;
  font-size: large;
}

.footer {
  text-align: center;
  color: white;
  margin-top: 100px;
  padding: 2px;
}
